<?xml version="1.0" encoding="UTF-8" ?>
<web-app    xmlns="http://java.sun.com/xml/ns/j2ee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
   version="2.4"> 

	<display-name>oculusPrime</display-name>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>/oculusPrime</param-value>
	</context-param>


	<!-- rtmpPortRequest -->
	<servlet>
		<servlet-name>rtmpPortRequest</servlet-name>
		<servlet-class>oculusPrime.RtmpPortRequest</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rtmpPortRequest</servlet-name>
		<url-pattern>/rtmpPortRequest</url-pattern>
	</servlet-mapping>

	<!-- frameGrabHTTP -->
	<servlet>
		<servlet-name>frameGrabHTTP</servlet-name>
		<servlet-class>
			oculusPrime.FrameGrabHTTP
		</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>frameGrabHTTP</servlet-name>
		<url-pattern>/frameGrabHTTP</url-pattern>
	</servlet-mapping>

	<!-- DashboardServlet -->
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>oculusPrime.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>

	<!-- StaticContentServlet -->
	<servlet>
		<servlet-name>StaticContentServlet</servlet-name>
		<servlet-class>oculusPrime.StaticContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StaticContentServlet</servlet-name>
		<url-pattern>/framegrabs/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StaticContentServlet</servlet-name>
		<url-pattern>/framegrabs/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StaticContentServlet</servlet-name>
		<url-pattern>/navigationlog/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StaticContentServlet</servlet-name>
		<url-pattern>/streams/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StaticContentServlet</servlet-name>
		<url-pattern>/streams/*</url-pattern>
	</servlet-mapping>

	<!-- NetworkServlet -->
	<servlet>
		<servlet-name>NetworkServlet</servlet-name>
		<servlet-class>oculusPrime.NetworkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NetworkServlet</servlet-name>
		<url-pattern>/network</url-pattern>
	</servlet-mapping>

	<!-- MediaServlet -->
	<servlet>
		<servlet-name>MediaServlet</servlet-name>
		<servlet-class>oculusPrime.MediaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MediaServlet</servlet-name>
		<url-pattern>/media</url-pattern>
	</servlet-mapping>

	<!-- WebRTCServlet -->
	<servlet>
		<servlet-name>WebRTCServlet</servlet-name>
		<servlet-class>oculusPrime.servlet.WebRTCServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebRTCServlet</servlet-name>
		<url-pattern>/webRTCServlet</url-pattern>
	</servlet-mapping>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Forbidden</web-resource-name>
			<url-pattern>/WEB-INF/*</url-pattern>
			<url-pattern>/scripts/*</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>


<!--	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Forbidden</web-resource-name>
			<url-pattern>/scripts/*</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>-->
	

</web-app>
