body, p, ol, ul {font-family: verdana, arial, helvetica, sans-serif; font-size: 16px;}

.dropbtn {
	border: none;
    cursor: pointer;
    font-family: verdana, arial, helvetica, sans-serif;
	text-align: left;
    background-color: #ffffff;
    padding: 0px;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	font-size: 17px;
    display: none;
    position: absolute;
    background-color: #ccd9ff;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content { display: block; }

.menu {
	background-color: #c2d6d6;
	border: 1px solid grey;
	font-size: 16px;
	min-width: 100px; 
	max-width: 100px;
}

.data {
	background-color: #fffgfg;
	font-size: 14px;
}

.busy {	border: 2px solid red; }
.on { border: 2px solid blue; }
.off { border: 2px solid grey; }

.tail {
	border: 0px solid;
	font-size: 14px;
}

table {
	border: 0px solid grey;
	min-width: 730px; 
	max-width: 730px;
	padding: 3px;
}

td { border: 2px solid grey; }
a { text-decoration: none; }
